@keyframes viewInSteps {
    from {
        width:0;
    }
    6.25%{
        width: 25%;
    }

    12.5%{
        width:50%;
    }
    18.75%{
        width: 75%;
    }
   25%{
    width:100%;
   }
   50%{
    width:0;
   }
    to{
 width:0;
    }
}
@keyframes viewInStepsAlternate {
    from {
        width:0;
    }
   50%{
    width:0;
   }
    75%{
    width:100%;
    }

    100%{
        width:0;
    }
}
.animate_viewInSteps{
    animation-duration: 6s;
    animation-name: viewInSteps;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    /* animation-direction: alternate; */
}
.animate_viewInSteps_alternate{
    animation-duration: 6s;
    animation-name: viewInStepsAlternate;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
