@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./css/animations.css');
:root {
font-family: sans-serif;
  margin: 0;
  box-sizing: content-box;

}

body {
  overflow-x: hidden;

  /* padding: 2rem; */
}

